<template>
  <div id="app">
    <div class="loader" v-if="loading">
      <h1>Loading ...</h1>
    </div>
    <div v-else>
      <header>
        <span>Vue.js PWA</span>
      </header>
      <main>
        <img src="./assets/logo.png" alt="Vue.js PWA">
        <router-view></router-view>
      </main>
    </div>
  </div>
</template>

<script>
import Axios from 'axios'

export default {
  name: 'app',
  data () {
    return {
      loading: true
    }
  },
  mounted () {
    // get token from local storage
    let authToken = localStorage.getItem('auth_token')

    if (!authToken) {
      // if no token, check the url for token callback
      let urlParams = new URLSearchParams(window.location.hash.replace('#', ''))
      if (urlParams.has('access_token')) {
        // laravel passport will return the ff data
        let authData = {
          access_token: urlParams.get('access_token'),
          token_type: urlParams.get('token_type'),
          expires_in: urlParams.get('expires_in')
        }
        // save to local storage
        localStorage.setItem('auth_token', JSON.stringify(authData))
        // redirect to wherever you want
        window.location = '/'
      } else {
        // if no access token from the url, lets redirect to passport server to get the auth token
        // http://localhost:8000/oauth/authorize - passport url
        // client_id - client id from oauth_clients table
        // redirect_uri - must match whats on the oauth_clients table
        // if the user is not login, it will redirect to login page and return to our redirect_uri
        window.location = 'http://localhost:8000/oauth/authorize?client_id=3&redirect_uri=http://localhost:8080&response_type=token&scope='
      }
    } else {
      // test if we can get the user using the auth token
      let authData = JSON.parse(authToken)
      // add the token to the header
      Axios.defaults.headers.common['Authorization'] = 'Bearer ' + authData.access_token
      // charan, make a request
      Axios.get('http://localhost:8000/api/user')
        .then(res => {
          console.log(res.data)
        })
        .then(() => {
          this.loading = false
        })
    }
  }
}
</script>

<style>
body {
  margin: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

main {
  text-align: center;
  margin-top: 40px;
}

header {
  margin: 0;
  height: 56px;
  padding: 0 16px 0 24px;
  background-color: #35495E;
  color: #ffffff;
}

header span {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 400;
  box-sizing: border-box;
  padding-top: 16px;
}
</style>
